<div class="col-md-12">
  <div class="row">
    <div class="item-container col-md-12">
      <h4>Color</h4>
      <ul>
        <a ng-click="changeClass()" href=""><li class="item color-option-1 col-md-3"></li></a>
        <a ng-click="changeClass()" href=""><li class="item color-option-2 col-md-3"></li></a>
        <a ng-click="changeClass()" href=""><li class="item color-option-3 col-md-3"></li></a>
        <a ng-click="changeClass()" href=""><li class="item color-option-4 col-md-3"></li></a>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="item-container">
      <h4 class="col-md-12">Eyes</h4>
      <ul class="item-row col-md-12">
        <li class="item col-md-3"><img src=""></li>
        <li class="item col-md-3"><img src=""></li>
        <li class="item col-md-3"><img src=""></li>
        <li class="item col-md-3"><img src=""></li>
        <li class="item col-md-3"><img src=""></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="item-container">
      <h4 class="col-md-12">Mouth</h4>
      <ul class="item-row col-md-12">
        <li class="item col-md-3"><img src=""></li>
        <li class="item col-md-3"><img src=""></li>
        <li class="item col-md-3"><img src=""></li>
        <li class="item col-md-3"><img src=""></li>
        <li class="item col-md-3"><img src=""></li>
      </ul>
    </div>

  </div>

  <div class="row">
    <div class="item-container">
      <h4 class="col-md-12">Hair</h4>
      <ul class="item-row col-md-12">
        <li class="item col-md-3"><img src=""></li>
        <li class="item col-md-3"><img src=""></li>
        <li class="item col-md-3"><img src=""></li>
        <li class="item col-md-3"><img src=""></li>
        <li class="item col-md-3"><img src=""></li>
      </ul>
    </div>
  </div>
</div>
