<div class="col-md-12">
  <!-- Color Options -->
  <div class="row">
    <div class="item-container col-md-12">
      <h4>Skin</h4>
      <ul class="item-row">
        <li ng-click="vm.changeClass('color-option-1', '#charhead', 'headoption')" class="item color-option-1 col-md-3"></li>
        <li ng-click="vm.changeClass('color-option-2', '#charhead', 'headoption')" class="item color-option-2 col-md-3"></li>
        <li ng-click="vm.changeClass('color-option-3', '#charhead', 'headoption')" class="item color-option-3 col-md-3"></li>
        <li ng-click="vm.changeClass('color-option-4', '#charhead', 'headoption')" class="item color-option-4 col-md-3"></li>
      </ul>
    </div>
  </div>

  <!-- Eye Options -->
  <div class="row">
    <div class="item-container col-md-12">
      <h4>Eyes</h4>
      <ul class="item-row">
        <li ng-click="vm.changeClass('eye-option-1', '#chareyes', 'eyesoption')" class="item eye-option-1 col-md-3"></li>
        <li ng-click="vm.changeClass('eye-option-2', '#chareyes', 'eyesoption')" class="item eye-option-2 col-md-3"></li>
        <li ng-click="vm.changeClass('eye-option-3', '#chareyes', 'eyesoption')" class="item eye-option-3 col-md-3"></li>
        <li ng-click="vm.changeClass('eye-option-4', '#chareyes', 'eyesoption')" class="item eye-option-4 col-md-3"></li>
      </ul>
    </div>
  </div>

  <!-- Mouth Options -->
  <div class="row">
    <div class="item-container col-md-12">
      <h4>Mouth</h4>
      <ul class="item-row">
        <li ng-click="vm.changeClass('mouth-option-1', '#charmouth')" class="item mouth-option-1 col-md-3"></li>
        <li ng-click="vm.changeClass('mouth-option-2', '#charmouth')" class="item mouth-option-2 col-md-3"></li>
        <li ng-click="vm.changeClass('mouth-option-3', '#charmouth')" class="item mouth-option-3 col-md-3"></li>
        <li ng-click="vm.changeClass('mouth-option-4', '#charmouth')" class="item mouth-option-4 col-md-3"></li>
      </ul>
    </div>

  </div>

  <!-- Hair Options -->
  <div class="row">
    <div class="item-container col-md-12">
      <h4>Hair</h4>
      <ul class="item-row">
        <li ng-click="vm.changeClass('hair-option-1', '#charhair')" class="item hair-option-1 col-md-3"></li>
        <li ng-click="vm.changeClass('hair-option-2', '#charhair')" class="item hair-option-2 col-md-3"></li>
        <li ng-click="vm.changeClass('hair-option-3', '#charhair')" class="item hair-option-3 col-md-3"></li>
        <li ng-click="vm.changeClass('hair-option-4', '#charhair')" class="item hair-option-4 col-md-3"></li>
      </ul>
    </div>
  </div>
</div>
