
<div class="row">
  <div class="col-md-6" id="character-builder">
    <h1 class="text-center">Build A Character</h1>
    <nav>
      <ul id="character-nav">
        <li ng-class="{ 'active': $state.includes('character.info')}"><a ng-click="vm.goCharInfo()"><img src="../assets/images/charinfo.png"></a></li>
        <li><a ng-click="vm.goCharBody()"><img src="../assets/images/charbody.png"></a></li>
        <li><a ng-click="vm.goCharOutfit()"><img src="../assets/images/charoutfit.png"></a></li>
      </ul>
    </nav>
    <div ui-view>

    </div>


  </div>
  <div class="col-md-6" id="character-display">
    <h2 class="text-center">Hello {{ vm.characterName }}</h2>
    <h4 class="text-center">From {{ vm.characterHometown}}</h4>

    <div class="head color-option-1"></div>
  </div>
</div> <!-- End of row -->

